# Python
*.pyc
__pycache__
venv/
.venv

# IDEs and text editors
*.sublime-project
*.sublime-workspace
.vscode
.idea

# Python packaging
.Python
build/
dist/
*.egg-info/
*.egg

.tox/
.coverage
.coverage.*
db.sqlite3
