global-exclude *.py[cod] __pycache__ .DS_Store
prune __pycache__
prune venv .venv
prune .coverage
prune .tox
prune tests

graft src/wagtail_headless_preview

include LICENSE *.txt *.md
include pyproject.toml .editorconfig

exclude .pre-commit-config.yaml .coveragerc tox.ini Makefile
exclude manage.py runtests.py db.sqlite3
